.App {
  text-align: left;
  margin: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.toolbar {
  display: flex;
  border-bottom: solid 1.7px;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.tooltip-icon-button {
  border: 0;
}

.separator {
  margin-right: 5px;
  cursor: pointer;
}

.separator:hover {
  opacity: 0.5;
}

ul.circle {list-style-type: circle;}
ul.disc {list-style-type: disc;}
ul.square {list-style-type: square;}
ol.decimal {list-style-type: decimal;}
ol.lower-latin {list-style-type: lower-latin;}
ol.lower-roman {list-style-type: lower-roman;}
ol.upper-alpha {list-style-type: upper-alpha;}